<div class="w3l-footer">
			<div class="container">
				<div class="footer-info-agile">
					<div class="col-md-2 footer-info-grid links">
						<h4>快速链接</h4>
						<ul>
							<li>
								<a href="/">家</a>
							</li>
							<li>
								<a href="/about">关于</a>
							</li>

							<li>
								<a href="/gallery">照片</a>
							</li>
							<li>
								<a href="/contact">联系</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 footer-info-grid address">
						<h4>地址</h4>
						<address>
						<ul>
							<li>位于成都青羊区人民中路二段</li>
							<li>近远东百货</li>
							<li>毗邻铂金城购物广场</li>
							<li>电话：+1234567</li>
							<li>Email : <a class="mail" href="#">info(at)example.com</a></li>
						</ul>
					</address>
					</div>
					<div class="col-md-3 footer-grid">
						<h4>酒店一景</h4>
						<div class="footer-grid-instagram">
							<a href="#"><img src="/images/f1.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="footer-grid-instagram">
							<a href="#"><img src="/images/f2.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="footer-grid-instagram">
							<a href="#"><img src="/images/f3.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="footer-grid-instagram">
							<a href="#"><img src="/images/f4.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 footer-info-grid">
						<div class="connect-social">
							<h4>联系我们</h4>
							<section class="social">
								<ul>
									<li>
										<a class="icon fb" href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a class="icon tw" href="#"><i class="fa fa-twitter"></i></a>
									</li>

									<li>
										<a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a>
									</li>
									<li>
										<a class="icon db" href="#"><i class="fa fa-dribbble"></i></a>
									</li>
									<li>
										<a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</section>

						</div>

					</div>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
		
<div class="footer">
	<p> Copyright © 2018-2019&nbsp;&nbsp;&nbsp;
		Powered by		<a href="https://github.com/pqYao" target="_blank">CHD</a>&nbsp;&nbsp;&nbsp;
		<a href="/admin" target="_blank">后台管理</a>
	</p>
</div>
