<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/libs/boostrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/base.css">

<!--<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />-->
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" property="" />

<link rel="stylesheet" type="text/css" href="/css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="/css/font-awesome.css" rel="stylesheet">
<!--/web-fonts-->
<link href="http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<!--//web-fonts-->

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/libs/boostrap/js/bootstrap.min.js"></script>
