<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{include '/include/head'}}
	<link rel="stylesheet" type="text/css" href="/libs/webuploader/webuploader.css">
	<link rel="stylesheet" href="/css/addEdit.css">
</head>
<body>
	<div class="container">
		<form method="post" action="/admin/image/add" class="form-horizotal" id="form-image">
			
			<div class="input-group">
				<span class="input-group-addon">画廊描述</span>
				<input type="text" class="form-control" name="image[description]" id="description" placeholder="画廊描述" value="{{image.description}}">
			</div>
			<div class="post-wrap">
			<div id="uploader-demo">
			    <div id="fileList" class="uploader-list"></div>
			    <div id="filePicker">选择</div>
			</div>
			<div class="input-group">
				<span class="input-group-addon">画廊图片</span>
				<input type="text" class="form-control" name="image[poster]" id="poster" placeholder="画廊图片,可填写图片链接或上传一张图片" value="{{image.poster}}">
			</div>
			</div>
			<input type="hidden" name="image[_id]" value="{{image.id}}">
			<button type="submit" class="btn btn-primary" id="submitForm"><i class="fa fa-save"></i>提交</button>
		</form>
	</div>
	<script type="text/javascript" src="/js/image.js"></script>
	<script type="text/javascript" src="/libs/webuploader/webuploader.min.js"></script>
	<script type="text/javascript" src="/js/addEdit.js"></script>
</body>
</html>
