<!DOCTYPE html>
<html>

	<head>
		<title>Single</title>
		<!-- for-mobile-apps -->
		{{include '/include/head'}}
		<meta name="keywords" content="" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- //for-mobile-apps -->
		
		<!-- pop-up -->
		<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
		<!-- //pop-up -->
		<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
		
		
	</head>

	<body>
		<!--/main-header-->
		{{include '/include/nav-top'}}
		<!--/banner-section-->
		<div id="demo-1" class="banner-inner">
			<!--/header-w3l-->
			<div class="header-w3-agileits" id="home">
				<div class="inner-header-agile">
					<nav class="navbar navbar-default">
						{{include '/include/nav-header'}}
						<!-- navbar-header -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

							<ul class="nav navbar-nav">
								<li class="active">
									<a href="/">家</a>
								</li>
								<li>
									<a href="/about">关于</a>
								</li>
								<li>
									<a href="/gallery">照片</a>
								</li>

								<li>
									<a href="/contact">联系</a>
								</li>

							</ul>

						</div>
						<div class="clearfix"> </div>
					</nav>
					<!--查询-->
					{{include '/include/nav-search'}}
				</div>

				<!--//header-w3l-->

			</div>
		</div>
		<!--/banner-section-->
		<!--//main-header-->

		<!-- breadcrumb -->
		<div class="w3_breadcrumb">
			<div class="breadcrumb-inner">
				<ul>
					<li>
						<a href="/">Home</a><i>/</i></li>

					<li>Single</li>
				</ul>
			</div>
		</div>
		<!-- //breadcrumb -->
		<!--/content-inner-section-->
		<div class="w3_content_agilleinfo_inner">
			<div class="container">
				<div class="inner-agile-w3l-part-head">
					<h2 class="w3l-inner-h-title">Single Page</h2>

				</div>
				<div class="latest-news-agile-info">
					<div class="col-md-8 latest-news-agile-left-content">
						<div class="single video_agile_player">

							<div class="video-grid-single-page-agileits">
								<div data-video="f2Z65fobH2I" id="video"> <img src="images/3.jpg" alt="" class="img-responsive" /> </div>
							</div>
							<h4>游泳池游泳池游泳池游泳池游泳池游泳池游泳池游泳池游泳池</h4>
							<p>环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。</p>
						</div>

						<div class="admin-text">
							<h5>周杰伦</h5>
							<div class="admin-text-left">
								<a href="#"><img src="images/评论.png" alt=""></a>
							</div>
							<div class="admin-text-right">
								<p>环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。</p>
								<span>评论:<a href="#">周杰伦 </a></span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="response">
							<h4>回复</h4>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img class="media-object" src="images/评论.png" alt="">
									</a>
									<h5><a href="#">周杰伦</a></h5>
								</div>
								<div class="media-body response-text-right">
									<p>环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。</p>
									<ul>
										<li>October 15, 2016</li>
										<li>
											<a href="single.html"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
										</li>
									</ul>
									<div class="media response-info">
										<div class="media-left response-text-left">
											<a href="#">
												<img class="media-object" src="images/评论.png" alt="">
											</a>
											<h5><a href="#">客服</a></h5>
										</div>
										<div class="media-body response-text-right">
											<p>环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。</p>
											<ul>
												<li>November 02, 2016</li>
												<li>
													<a href="single.html"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
												</li>
											</ul>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img class="media-object" src="images/评论.png" alt="">
									</a>
									<h5><a href="#">周杰伦</a></h5>
								</div>
								<div class="media-body response-text-right">
									<p>环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。环境舒适，价格合理。</p>
									<ul>
										<li>November 03, 2016</li>
										<li>
											<a href="single.html"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
										</li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="all-comments-info">
							<h5>发布评论</h5>
							<div class="agile-info-wthree-box">
								<form>
									<div class="col-md-6 form-info">
										<input type="text" name="name" placeholder="姓名" required="">
										<input type="email" name="email" placeholder="邮箱" required="">
										<input type="text" name="phone" placeholder="电话" required="">
									</div>
									<div class="col-md-6 form-info">

										<textarea placeholder="评论" required=""></textarea>
										<input type="submit" value="SEND">
									</div>
									<div class="clearfix"> </div>

								</form>
							</div>
						</div>
					</div>
					<div class="col-md-4 latest-news-agile-right-content">
						<h4 class="side-t-w3l-agile">查询</span></h4>
						<div class="side-bar-form">
							<form action="#" method="post">
								<input type="search" name="email" placeholder="查询" required="required">
								<input type="submit" value=" ">
							</form>
						</div>
						<div class="w3l-blog-list">
							<h4 class="side-t-w3l-agile">Archives List</h4>
							<ul>
								<li>
									<a href="#"><i class="fa fa-long-arrow-right"> </i>Aug (15)</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-long-arrow-right"> </i>Oct (20)</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-long-arrow-right"> </i>November (8)</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-long-arrow-right"> </i>December (25)</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-long-arrow-right"> </i>August (9)</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-long-arrow-right"> </i>July (15)</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-long-arrow-right"> </i>Mar (25)</a>
								</li>
							</ul>
						</div>
						<div class="agile-info-recent">
							<h4 class="side-t-w3l-agile">酒店新闻</h4>
							<div class="w3ls-recent-grids">
								<div class="w3l-recent-grid">
									<div class="wom">
										<a href="single.html"><img src="images/f3.jpg" alt=" " class="img-responsive"></a>
									</div>
									<div class="wom-right">
										<h5><a href="single.html">好消息好消息</a></h5>
										<p>寝室装空调啦！寝室装空调啦！寝室装空调啦！寝室装空调啦！寝室装空调啦！</p>
										<ul class="w3l-sider-list">
											<li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
											<li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
										</ul>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="w3l-recent-grid">
									<div class="wom">
										<a href="single.html"><img src="images/f2.jpg" alt=" " class="img-responsive"></a>
									</div>
									<div class="wom-right">
										<h5><a href="single.html">好消息好消息</a></h5>
										<p>寝室装空调啦！寝室装空调啦！寝室装空调啦！寝室装空调啦！寝室装空调啦！</p>
										<ul class="w3l-sider-list">
											<li><i class="fa fa-clock-o" aria-hidden="true"></i>On Mar 3, 2016</li>
											<li><i class="fa fa-eye" aria-hidden="true"></i> 2742</li>
										</ul>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="w3l-recent-grid">
									<div class="wom">
										<a href="single.html"><img src="images/f1.jpg" alt=" " class="img-responsive"></a>
									</div>
									<div class="wom-right">
										<h5><a href="single.html">好消息好消息</a></h5>
										<p>寝室装空调啦！寝室装空调啦！寝室装空调啦！寝室装空调啦！寝室装空调啦！</p>
										<ul class="w3l-sider-list">
											<li><i class="fa fa-clock-o" aria-hidden="true"></i>On Oct 13, 2016</li>
											<li><i class="fa fa-eye" aria-hidden="true"></i> 2802</li>
										</ul>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>

					</div>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
		<!--//content-inner-section-->
		<!-- Footer -->
		{{include '/include/footer'}}
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<!-- Dropdown-Menu-JavaScript -->
		<script>
			$(document).ready(function() {
				$(".dropdown").hover(
					function() {
						$('.dropdown-menu', this).stop(true, true).slideDown("fast");
						$(this).toggleClass('open');
					},
					function() {
						$('.dropdown-menu', this).stop(true, true).slideUp("fast");
						$(this).toggleClass('open');
					}
				);
			});
		</script>
		<!-- //Dropdown-Menu-JavaScript -->

		<script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
		<!-- search-jQuery -->
		<script src="js/main.js"></script>

		<!--/script-->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 900);
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/

				$().UItoTop({
					easingType: 'easeOutQuart'
				});

			});
		</script>

		<!--end-smooth-scrolling-->
		<!--js for bootstrap working-->
		<script src="js/bootstrap.js"></script>
		<!-- //for bootstrap working -->
	</body>

</html>